@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "project.scss";
@import "task.scss";
@import "details.scss";
//@import "footer.scss";
.footerdiv {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 8rem;
  margin-top: 30px ;
  padding-top: 1.5em;
  background-color: #e1e1e8;
}
